<launch>

<include file="$(find xarm_gazebo)/launch/xarm5_beside_table.launch"/>


<param name="robot_description" command="$(find xacro)/xacro '$(find xarm_description)/urdf/xarm5.urdf.xacro'"/>



  <include file="$(find xarm5_moveit_config)/launch/xarm5_moveit.launch"/>


  <node name="spawn_cup1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find main_logic)/models/cup/model.sdf -sdf -model cup1 -x 0.5 -y 0 -z 0.05"/>
  <node name="spawn_cup2" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find main_logic)/models/cup/model.sdf -sdf -model cup2 -x 0.6 -y 0.2 -z 0.05"/>
</launch>

